h1.contact {
  font-size: 52px;
  color: white;
  transform: translateY(-130px) translateX(20px);
}
h2.contact-2 {
  font-size: 25px;
  color: #ffff99;
  transform: translateY(-100px) translateX(20px);
}
label1 {
  font-size: 30px;
}
label2 {
  font-size: 30px;
}
label3 {
  font-size: 30px;
}
button {
  font-size: 25px;
}
.contact-page {
  background: #33ccff;
  posityon: static;
}
