h1.title {
    font-size: 70px;
    font-weight: bold;
    transform: 
    translateY(-79px)
    translateX(200px);
}
.register-page {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form-container {
    width: 950px;
    padding: 118px;
    box-shadow: 0px 0px 21px rgb(0 0 0 / 20%);
    background: wheat;
}
label.from-label{
    width: 100%;
}
.form-control{
height: 40px;
display: block;
width: 100%;
padding: 6px 12px;
}
button.sumbit-btn {
    width: 50%;
    padding: 12px;
    transform: translateY(50px)
    translateX(160px);
   
}
.sumbit-btn {
    background-color: #4CAF50; /* Màu nền */
    border: none; /* Không có viền */
    color: white; /* Màu chữ */
    padding: 1px 12px; /* Độ rộng và chiều cao của nút */
    text-align: center; /* Căn giữa văn bản */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Kích thước chữ */
    margin: 4px 2px; /* Khoảng cách xung quanh nút */
    cursor: pointer; /* Con trỏ hiển thị khi di chuột vào nút */
    border-radius: 10px; /* Bo tròn góc */
  }
.mb-2 {
    margin-bottom: 16px ;
}   