h1.title {
    font-size: 70px;
    font-weight: bold;
    transform: translateY(-29px)
    translateX(300px)
}
.register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-container {
    width: 920px;
    padding: 18px;
    box-shadow: 0px 0px 21px rgb(0 0 0 / 20%);
    background: wheat;
}

label.form-label {
    display: block;
    width: 100%;
    font-size: 30px;
    transform: translateY(-9px)
    translateX(20px);

}
input#firt-name {
    width: 90%;
    transform: translateY(-9px)
    translateX(20px);
    font-size: 30px;
}
label.from-label {
    display: block;
    width: 100%;
    font-size: 30px;
    transform: translateY(-9px)
    translateX(20px);
}

label.from-label {}


input#password {
    width: 90%;
    transform: translateY(-9px)
    translateX(20px);
    font-size: 30px;
}

div {
    font-size: 25px;
}

button.sumbit-btn {
    width: 30%;
    padding: 12px;
    transform: translateY(10px)
    translateX(280px);
   
}
.sumbit-btn {
    background-color: #4CAF50; /* Màu nền */
    border: none; /* Không có viền */
    color: white; /* Màu chữ */
    padding: 1px 12px; /* Độ rộng và chiều cao của nút */
    text-align: center; /* Căn giữa văn bản */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Kích thước chữ */
    margin: 4px 2px; /* Khoảng cách xung quanh nút */
    cursor: pointer; /* Con trỏ hiển thị khi di chuột vào nút */
    border-radius: 10px; /* Bo tròn góc */
  }   