img {
  background-position: 70% 30%;
  position: relative;
  width: 500px;
  padding: 20px;
  overflow: hidden;
  cursor: zoom-in;
  transform: translateY(-137px) translateX(620px);
}
.origin-form-container {
  width: 780px;
  padding: 5px;
  transform: translateY(-455px) translateX(-95px);
}
h1.title-origin {
  font-size: 40px;
}
h2.title-origin2 {
  font-size: 25px;
}
h3.title-origin3 {
  font-size: 18px;
}
h4.title-origin4 {
  font-size: 18px;
}
h5.title-origin5 {
  font-size: 18px;
}
h6.title-origin6 {
  font-size: 18px;
}
.element {
  border-bottom: 2px solid #000;
  display: inline-block; /* Đảm bảo rằng đường gạch sẽ dài ra toàn bộ chiều rộng của phần tử */
  width: 1200px;
  transform: translateY(-385px) translateX(-95px);
}
.origin-button {
  background-color: transparent;
  width: 350px;
  border: 2px solid #00cc00; /* Màu viền */
  border-radius: 40px;
  color: #fff; /* Màu chữ */
  padding: 10px 20px; /* Kích thước nút */
  font-size: 16px; /* Kích thước chữ */
  cursor: pointer;
  transform: translateY(-459px) translateX(135px);
}
img.first-image {
  background-position: 70% 30%;
  position: relative;
  width: 500px;
  padding: 20px;
  overflow: hidden;
  cursor: zoom-in;
  transform: translateY(-453px) translateX(-115px);
}
.service-form-container {
  width: 780px;
  padding: 5px;
  transform: translateY(-795px) translateX(375px);
}
h1.title-service {
  font-size: 40px;
}
h2.title-service2 {
  font-size: 25px;
}
h3.title-service3 {
  font-size: 18px;
}
h4.title-service4 {
  font-size: 18px;
}
h5.title-service5 {
  font-size: 18px;
}
.service-button {
  background-color: transparent;
  width: 450px;
  border: 2px solid #00cc00; /* Màu viền */
  border-radius: 40px;
  color: #fff; /* Màu chữ */
  padding: 10px 20px; /* Kích thước nút */
  font-size: 16px; /* Kích thước chữ */
  cursor: pointer;
  transform: translateY(59px) translateX(135px);
}
.element1 {
  border-bottom: 2px solid #000;
  display: inline-block; /* Đảm bảo rằng đường gạch sẽ dài ra toàn bộ chiều rộng của phần tử */
  width: 1200px;
  transform: translateY(-720px) translateX(-95px);
}
img.second-image {
  background-position: 70% 30%;
  position: relative;
  width: 600px;
  padding: 00px;
  overflow: hidden;
  cursor: zoom-in;
  transform: translateY(-721px) translateX(520px);
}
.consultation-form-container {
  width: 780px;
  padding: 5px;
  transform: translateY(-1045px) translateX(-95px);
}

h1.title-consultation {
  font-size: 40px;
}
h2.title-consultation2 {
  font-size: 22.5px;
}
h3.title-consultation3 {
  font-size: 18px;
}
h4.title-consultation4 {
  font-size: 18px;
}
h5.title-consultation5 {
  font-size: 18px;
}
h6.title-consultation6 {
  font-size: 18px;
}
h7.title-consultation7 {
  font-size: 18px;
}
.consultation-button {
  background-color: transparent;
  width: 450px;
  border: 2px solid #00cc00; /* Màu viền */
  border-radius: 40px;
  color: #fff; /* Màu chữ */
  padding: 10px 20px; /* Kích thước nút */
  font-size: 16px; /* Kích thước chữ */
  cursor: pointer;
  transform: translateY(32px) translateX(85px);
}
.article-form-container {
  max-height: 1200px;
  width: 1270px;
  padding: 118px;
  box-shadow: 0px 0px 21px rgb(0 0 0 / 20%);
  background: linear-gradient(to right, #fff, #33cccc, #ff99cc);
}
