img.consultation-web-123 {
    background-position: 70% 30%;
    position: relative;
    width: 550px;
    padding: 00px;
    width: 420px; /* Chiều rộng 500px */
    height: 300px; /* Chiều cao 300px */
    overflow: hidden;
    cursor: zoom-in;
    transform: translateY(0px) translateX(0px);
  }
  img.consultation-web-456 {
    background-position: 70% 30%;
    position: relative;
    width: 550px;
    padding: 00px;
    width: 420px; /* Chiều rộng 500px */
    height: 300px; /* Chiều cao 300px */
    overflow: hidden;
    cursor: zoom-in;
    transform: translateY(-300px) translateX(420px);
  }
  img.consultation-web-789 {
    background-position: 70% 30%;
    position: relative;
    width: 550px;
    padding: 00px;
    width: 420px; /* Chiều rộng 500px */
    height: 300px; /* Chiều cao 300px */
    overflow: hidden;
    cursor: zoom-in;
    transform: translateY(-600px) translateX(840px);
  }
  